body {
	/*去掉浏览器默认的8px的间隙*/
    margin: 0;
    background-color: #f1efe3;
}
/*定义公共类inner，用来放置内容区，内容区宽度固定，居中。凝胶布局的关键代码！*/
div.inner {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
/*页眉区 header*/
div.header {
    height: 120px;
	/*背景图像默认会重复插入*/
    background-image: url(../img/banner.jpg);
}
/*导航栏的格式*/
div.nav{
    height: 20px;
}
/*导航栏中的ul格式*/
div.nav ul.wp_nav{
    margin: 10px 120px;
    padding: 0px;
    height: 20px;
}
/*导航栏中的li设置为横行*/
li.nav-item{
	display: inline-block;
}
/*标签*/
div.nav a{
    text-decoration:none;  /*超链接无下划线*/
    color: #3f2863; 
    margin:0 40px;
}
/*被点中时的标签颜色有变化*/
div.nav a.active{
    color: #ff7f21;
}
/*内容区 content*/
div.content{
    margin: 20px 0 0 0;
    background-color: white;
    padding: 80px 0 20px 0;
}
/*首页的文章列表中的每一个*/
div.content div.list-item div.item{
    margin-bottom: 80px; 
    height: 300px;
}
/*文章列表中的左边图片部分*/
div.content div.list-item div.item div.item-left{
    /*布局的关键代码，浮动元素*/
    float: left;
    
}
/*文章列表中的左边图片*/
div.content div.list-item div.item div.item-left img{
    height: 300px;
}
/*文章列表中的右边标题部分*/
div.content div.list-item div.item div.item-right{
    padding :20px 0 0 100px;
    margin:20px   0 0 400px;
}
/*文章列表中的右边标题h3*/
div.item-right h3{
    font-size: 24px; 
    margin:20px 0;
}
/*文章列表中的右边箭头链接*/
div.item-right .go_icon{
    width: 33px; 
    height: 11px; 
    background: url(../img/jiantou.png) center center no-repeat; 
    display: block; 
    padding:10px 0; 
    margin-top: 16px;
}
/*文章列表中的右边p*/
div.item-right p{
    line-height: 37px;
}
/**************detail页面相关css******************/

/*每篇文章的标题*/
div.content div.title{
    text-align: center; /*位于中央*/
    margin-bottom: 40px;
}
/*每篇文章的小标题*/
div.content div.inner .littletitle{
    text-indent: 2em;
    /*em是相对单位，2em即现在一个字大小的两倍*/
    font-family: Arial, Helvetica, sans-serif;/*字体样式*/
    font-weight:lighter;
}
/*定义一个使文字水平居中的类*/
div.center{
    text-align:center /*水平居中*/
}
/*对实验报告中的图片大小做出规定*/
div.content div.inner .dimg{
    width:500px;
    height: 400px;
}
iframe{
    width:800px;
    height: 700px;
}
/*放pdf文章的盒子*/
#handout_wrap_inner{
    margin: 0 auto; /*让iframe居中*/
    width: 800px!important;  /*为了修改内联样式*/
}

/*********相册界面相关css*************/
div.photos{
    width:300px;
    height: 200px;
    text-align: center;
}
td img{
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
}
div.cont-text{
    margin-top: 20px;
    text-align: center;
}
div.cont-text div.date{
    font-size: 16px;
    color: crimson;
    margin-bottom: 30px;
}
div.cont-text .address{
    width:16px;
    height: 16px;
    margin-right: 10px;
}
/************计划表界面相关css**************/
div#calendar {
    width: 900px;
    margin: 0 auto;
    font-size: 14px;
}
.form2{
    text-align: center;
    margin-bottom: 20px;
}
/************个人简介界面相关css**************/
/**表单**/
.form1{
    width:300px;
    height:950px;
}
/**表单左边部分**/
div.left{
    width:300px;
    height:950px;
    background-color:#666666;
    float:left;/*浮动在左边*/
    color :white;
    text-align: center;
}
/**表单左边部分**/
div.left div#selfphoto{
    padding-top: 10px;
    margin: 0 auto; /*居中*/
    width: 100px;
    height: 150px;
   
}
/**表单右边部分**/
div.right{
    height: 950px;
    width: 700px;
    background-color: #669999;
    margin-left: 300px;
    text-align: left;
    color: black;
}
/*表单中的所有照片均在盒子中按比例调节到最大的比列*/
.form1  img{
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
}
/*表单中的标题*/
div.biaoti{
    width: 300px;
    height: 50px;
    line-height: 50px;/*垂直居中*/
}
/*个人简介栏*/
div.top{
    height:50px;
    background-color:#333333;
    color:white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;  /*垂直居中*/
}
/*细节栏*/
div.detail{
    margin: 40px 0 40px 0;
    border:1px solid #ccc; 
    border-left:none;
    border-right:none;
}
/*细节栏中的列表*/
div.detail ul{
    list-style-type:decimal; /*以罗马数字排列*/
    margin:30px;
}
/*细节栏中的列表中的间隔*/
div.detail ul li{
    margin-bottom: 10px;
}